/**
 * Meta box styling
 */
table.bizz_metabox td, table.bizz_metabox th { border-bottom: 1px solid #E9E9E9 }
table.bizz_tax td, table.bizz_tax th { border-bottom: none }
#addtag table.bizz_tax td { padding-left: 0; padding-right: 0 }
table.bizz_metabox tr:last-child td, table.bizz_metabox tr:last-child th { border-bottom: none; }
table.bizz_metabox th { text-align: right; font-weight:bold;}
table.bizz_tax th { text-align: left; font-weight:normal;}
table.bizz_metabox th label { margin-top:5px; display:block;}
p.bizz_metabox_description { font-style: italic; margin: 2px 0 !important;}
span.bizz_metabox_description { font-style: italic;}
table.bizz_metabox input, table.bizz_metabox textarea { font-size:12px; padding: 5px; }
table.bizz_metabox input[type=text], table.bizz_metabox textarea { width: 97%; }
table.bizz_metabox textarea.bizz_textarea_code { font-family: Consolas,Monaco,monospace; line-height: 16px; }
table.bizz_metabox input.bizz_text_small { width: 100px; margin-right: 15px;}
table.bizz_metabox input.bizz_timepicker { width: 100px; margin-right: 15px;}
table.bizz_metabox input.bizz_text_money { width: 90px; margin-right: 15px;}
table.bizz_metabox input.bizz_text_medium { width: 230px; margin-right: 15px;}
table.bizz_metabox input.bizz_upload_file { width: 65%; }
table.bizz_metabox li { font-size:12px; margin: 1px 0 5px 0; line-height: 16px; }
table.bizz_metabox ul { padding-top:5px; margin: 0; }
table.bizz_metabox select { font-size:12px; margin-top: 3px;}
table.bizz_metabox input:focus, table.bizz_metabox textarea:focus { background: #fffff8;}
.bizz_metabox_title { margin: 0 0 5px 0; padding: 5px 0 0 0; font: italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;}
.bizz_radio_inline { padding: 4px 0 0 0;}
.bizz_radio_inline_option {display: inline; padding-right: 18px;}
table.bizz_metabox input[type="radio"] { margin: 0 5px 0 0; padding: 0;}
table.bizz_metabox input[type="checkbox"] { margin: 0 5px 0 0; padding: 0;}
table.bizz_metabox .mceStatusbar  {border:none;}
table.bizz_metabox .mceIframeContainer {background:#FFF;}
table.bizz_metabox .wp-editor-wrap {width:95%;}
table.bizz_metabox .meta_mce {width:95%;}
table.bizz_metabox .meta_mce textarea {width:100%;}
table.bizz_metabox .bizz_media_status {  margin: 10px 0 0 0;}
table.bizz_metabox .bizz_media_status .img_status, table.bizz_metabox .bizz_media_status .embed_status {  position: relative; }
table.bizz_metabox .bizz_media_status .img_status img, table.bizz_metabox .bizz_media_status .embed_status { border:1px solid #DFDFDF; background: #FAFAFA; max-width:350px; padding: 5px; -moz-border-radius: 2px; border-radius: 2px;}
table.bizz_metabox .bizz_media_status .embed_status { float: left; max-width:800px;}
table.bizz_metabox .bizz_media_status .img_status .bizz_remove_file_button, table.bizz_metabox .bizz_media_status .embed_status .bizz_remove_file_button { text-indent: -9999px; background: url('../images/ico-remove.png'); width: 16px; height: 16px; position: absolute; top: -5px; left: -5px;}
table.bizz_metabox input[readonly] {background-color: #EEE;}
table.bizz_metabox input.char_counter {margin-bottom: 7px;}
/* Sidebar placement adjustments */
.inner-sidebar table.bizz_metabox input[type=text], table.bizz_metabox textarea { width: 95%; }
.inner-sidebar table.bizz_metabox .bizz_media_status .img_status img, .inner-sidebar table.bizz_metabox .bizz_media_status .embed_status img { width: 90%; }
.postbox table.bizz_metabox .bizz-spinner { float: left; }

/**
 * Time picker
 */
div.time-picker { position: absolute; height: 191px; width:6em; /* needed for IE */overflow: auto; background: #fff; border: 1px solid #aaa; z-index: 99; margin: 0;}
div.time-picker-12hours { width:8em; /* needed for IE */}
div.time-picker ul { list-style-type: none; margin: 0; padding: 0; }
div.time-picker li { cursor: pointer; height: 10px; font: 12px/1 Helvetica, Arial, sans-serif; padding: 4px 3px; }
div.time-picker li.selected { background: #0063CE; color: #fff; }